@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    margin: 0px;
}

.nav {
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;

}

.nav-part2 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav button {
    padding: 10px 20px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: .2s ease-in-out;
}

.nav button:hover {
    background-color: rgb(21, 117, 112);
}

.nav i {
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

.links {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    padding: 10px;
    margin: 20px;
    list-style: none;
    color: black;
    border-top: transparent;
    border-bottom: transparent;
    text-decoration: none;
    transition: .2s ease-in-out;
}


.links a:hover {
    border-top: solid lightseagreen;
    border-bottom: solid lightseagreen;
}

.content {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin: 40px;
}


.content button {
    padding: 10px 20px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: .2s ease-in-out;
}

.content button:hover {
    background-color: rgb(21, 117, 112);
}



.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.left h1 {
    font-size: 3rem;
}

.left p {
    margin: 20px 0px;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.left button {
    margin: 20px 0px;
}

.right {
    width: 50%;
}

.right img {
    width: 100%;
}

@media(max-width:800px) {

    body{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: column;
    }

    .nav {
        background-color: rgb(52, 51, 51);
        flex-direction: column;
    }

    .logo{
        color: #fff;
    }

    .links {
        flex-direction: column;
    }

    .links a {
        color: #fff;
        margin: 20px 0px;
    }


    .nav button {
        display: none;
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 80%;

    }

    .left {
        width: 80%;
    }

    .left p{
        font-size: 1rem;
    }

    .right {
        width: 80%;
    }

}